<div class="row gx-5 my-4">
    <div class="col-md-4">
        <h3 class="fw-normal lead fs-4 my-3">Add your project</h3>
        <p class="py-2">Do you own any software projects, that comes under opersource, freeware, free-tier? Add them here. Let everyone utilize them.</p>
        <a href="/add-software-projects"><button class="btn btn-primary rounded-0 px-4">Add projects</button></a>
    </div>
    <div class="col-md-4">
        <h3 class="fw-normal lead fs-4 my-3">Recommend a project</h3>
        <p class="py-2">If you haven't developed any software projects? Still you can add any free software projects that you feeel usefull for others.</p>
        <a href="/recommend-software-projects"><button class="btn btn-primary rounded-0 px-4">Recommend projects</button></a>
    </div>
    <div class="col-md-4">
        <h3 class="fw-normal lead fs-4 my-3">Utilize free projects</h3>
        <p class="py-2">Are you looking for free tools, SaaS, PaaS, IDEs and other free software projects to develop your projects? Search freeware here.</p>

        <div class="input-group mb-3">
            <form method="get" action="/search" class=" w-100">
            <input type="search" class="form-control w-100 border-primary rounded-0" placeholder="Search projects" aria-label="Search projects" aria-describedby="basic-addon2" name="query">
        </form>
          </div>

    </div>
  </div>