---
layout: base
---
<div class="row my-3">
  <div class="col-md-8">
<h1 class="display-6 text-dark">Explore freeware software projects</h1>
<p class="my-4">Discover a world of powerful, free, and open-source software at <strong>Freeware</strong>. Our platform is dedicated to curating and showcasing the best free-tier tools, open-source projects, and invaluable resources available on the web. Whether you're a developer, a tech enthusiast, or simply looking for cost-effective solutions, Freeware is your go-to hub for all things free and open-source.</p>
</div>
<div class="col-md-4">
  <img class="mx-auto d-block" width="200px" height="auto" src="//img.icons8.com/ios/300/228BE6/open-source.png" alt="Freeware projects includes free-tier, open-source and more"/>
</div>
</div>
  


<div class="container p-0">
  <h2 class="text-dark fs-4 fw-normal">Recently added projects</h2>
  <p>
Developers, tech creators and software application enthusiasts like you frequently contribute to this repository. You'll find recenly added latest freeware projects here. Dive in and explore our extensive collection of software and tools designed to empower your creativity and productivity without breaking the bank.
  </p>
  <div class="row p-0" id="projects">
      {%- for post in site.projects limit:20 -%}
        <div class="col-md-6 project">
          <div class="shadow-sm border bg-white mb-3">
            <div class="row p-4">
              <div class="col-3">
                {% if post.icon %}
                <img width="150px" height="auto" class="mt-2" alt="{{ post.title }}" src="/icons/{{ post.icon }}"/>
                {% else %}
                <img width="150px" height="auto" class="mt-2" alt="{{ post.title }}" src="/assets/icons/{{ post.cat | downcase | replace: ' ', '-' }}.jpg"/>
                {% endif %}
              </div>
              <div class="col-9">
                <h3><a class="fs-5 fw-normal project-title" href="{{ post.url | relative_url }}" data-link="{{ post.link }}">{{ post.title }}</a></h3>
                {{ post.excerpt | truncate: 100 }}
                <div class="text-secondary"><i>Added by 
                {% assign author_count = post.authors | size %}
                {% for author in post.authors limit: 1 %}
                <a href="/community?author={{ author }}">
                  <span class="text-primary">{{ author }}</span>
                </a>
              </i>
                  {% if author_count > 1 %} and {{ author_count | minus: 1 }} more{% endif %}
                {% endfor %}
              </div>
              </div>
            </div>

            <div class="row w-100 mx-auto border-top p-3 py-2 bg-light">
              <div class="col-md-6">
                {% if post.type %}
                <span class="small text-success">
                  {{ post.type }}
                </span>
                  {% endif %}
                
                  {% if post.cat %}
                  <span class="d-block">
                  {{ post.cat }}
                </span>
                  {% endif %}
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <button class="btn btn-outline-light shadow-sm bg-white text-secondary ms-auto more-details rounded-0" data-bs-toggle="modal" data-bs-target="#moreDetails">More details</button>
              </div>
              </div>


          </div>
        </div>


      {%- endfor -%}
    </div>
  </div>

  <h2 class="mt-5 mb-3">Popular tags under freeware projects</h2>
  {% assign displayed_tags = "" | split: "" %}

  {%- for post in site.projects limit:20 -%}
    {% for tag in post.tags %}
      {% unless displayed_tags contains tag %}
      <a href="/tag#{{ tag | replace: " ", "-" | replace: "&", "-" }}">
        <span class="tag small d-inline-flex bg-white border border-secondary rounded-1 py-1 px-3 text-primary me-1 mb-2" data-{{ tag }}="tag">
          {{ tag }}
        </span>
      </a>
        {% assign displayed_tags = displayed_tags | push: tag %}
      {% endunless %}
    {% endfor %}
  {%- endfor -%}
  
  <h2 class="mt-5 mb-3">Popular categories under freeware projects</h2>
  {% assign displayed_cats = "" | split: "" %}

  {%- for post in site.projects limit:20 -%}
    {% for cat in post.cat %}
      {% unless displayed_cats contains cat %}
        <span class="cat small d-inline-flex bg-success-subtle border border-success rounded-1 py-1 px-3 text-success me-1 mb-2" data-{{ cat }}="cat">
          {{ cat }}
        </span>
        {% assign displayed_cats = displayed_cats | push: cat %}
      {% endunless %}
    {% endfor %}
  {%- endfor -%}


  {{ content }}

{% include add-projects.html %}

<style>
  main{
    background: var(--bs-light);
  }
  #projects svg{
    fill: var(--bs-light);
  }
  .project p{
    margin-bottom:6px ! important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .project h3 a{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>



<!-- Modal -->
<div class="modal fade" id="moreDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-truncate" id="projectTitle">Site name</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0" style="overflow:hidden;">
<iframe id="morePage" src="about:blank" class="p-0 m-0 border-0 w-100" style="margin-top:-60px;width:100%;height:calc(100vh - 190px);"></iframe>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="projectLink" href="#site" target="_blank"><button type="button" class="btn btn-primary">Visit site</button></a>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/home.js"></script>
